h2 {
    text-align: center;
}

.logo {
    max-width: 300px;
    max-height: 50px;
    position: relative;
}

.text-right {

    text-align:right;    
}

.text-left {
    text-align: left;      
}

.text-center {
    text-align: center;      
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
    color: #337ab7;
}

.user-info {
    text-align: center;
    margin: 20px;
}

.user-avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}